<section class="main_page">
  <section class="photo" data-stellar-background-ratio="0.3">
  <ul class="grid">
    <li class="ot-letter-left"><span data-letter="About Me">About Me</span></li>
  </ul>
    <section class="about_me">
      <h1>
      Hi there!
      My name is Tahrim Uddin and I am a full stack web developer. Late in my college years I discovered a great passion for coding and decided that this is what I want to do for a living. Since I was only a few credits away from graduating with a Bachelor's degree in Biology, I decided to finish school and pursue coding . After graduating I moved to New York City to attend DevBootcamp, an intensive 18-24 week coding bootcamp, in hopes of becoming a full stack web developer. I graduated at the end on November 2015 and now I reside in West Palm Beach, Florida. I am currently seeking a new opportunity to be part of a team that have a drive to help people and build new, innovative and meaningful things.
      </h1>
    </section>

  </section>
  
  <section class="photo1" data-stellar-background-ratio="0.3">
    <div class="earth planet"></div>
    
    <section class="juke"> 
      <a href="http://jukeapp.herokuapp.com" target="_blank"><%= image_tag("juke.png", class: "juke_image") %> </a>
      <h1>JUKE:</h1>
      A playlist collaboration app built using Ruby on Rails, Javascript and the Spotify API. Juke allows a user to host a playlist and invite guests to it. A guest can view, vote and suggest songs on that playlist. A song accepted by the host is added to the playlist. A host may also reorder the playlist based on the votes of the guests.
    </section>

    <section class="nycycle">
      <a href="http://nycycle.herokuapp.com" target="_blank"><%= image_tag("nycycle.png", class: "nycycle_image") %></a>
      <h1>NYCycle:</h1>
      A web application that uses geolocation technology to allow you to locate the nearest recycling bin in NYC. Using data on bins from NYC Open Data, the user's location from their browser, and maps from the Google Maps API, we make it easy for people to do their part to reduce, reuse, and recycle. 
    </section>

  </section>
  
  <section class="photo2" data-stellar-background-ratio="0.3">
    
    <section class="contact">
    <h1 class="contact_title"> Contact Me: </h1>
      <ul class="social_contact">
        <a href="https://github.com/utahrim"  target="_blank" ><li  id="github_logo"></li></a>
        <a href="https://www.linkedin.com/in/utahrim"  target="_blank" ><li  id="linkedin_logo"></li></a>
        <a href="mailto: utahrim@gmail.com"  target="_blank" ><li  id="gmail_logo"></li></a>
        <a href="https://twitter.com/canilive561"  target="_blank" ><li  id="twitter_logo"></li></a>
        <a href="https://www.instagram.com/canilive561"  target="_blank" ><li  id="insta_logo"></li></a>
      </ul>
      <div class="resume">
        <a href="Tahrim_Uddin_Resume.pdf" download="Tahrim_Uddin_Resume.pdf"><button class="resume_button">Download Résumé</button> </a>
      </div>

    </section>

  </section>

</section>
