<section class="main_page">
  <section class="photo" data-stellar-background-ratio="0.3">
    <section class="about_me">
      <h1>I am a full stack web developer searching for a new opportunity. I have a passion for coding and have experience working on agile team under tight deadlines to ship quality web applications. Since discovering programming, I've worked diligently at improving my skills and learning new technologies everyday. I thrive in learning new concepts and adjusting to new environments. I have experience working both individually and in a group setting. I find great inspiration working closely with others and often push myself to new lengths when other people are relying on me.
      </h1>
    </section>
  </section>
  <section class="photo1" data-stellar-background-ratio="0.3">
    <div class="earth planet"></div>
  </section>
  <section class="photo2" data-stellar-background-ratio="0.3"></section>
</section>