<section class="main_page">
  <section class="photo" data-stellar-background-ratio="0.3">
    <section class="about_me">
      <h1>
      </h1>
    </section>

  <ul class="grid">
    <li class="ot-letter-left"><span data-letter="About Me">About Me</span></li>
  </ul>

  </section>
  <section class="photo1" data-stellar-background-ratio="0.3">
    <div class="earth planet"></div>
  </section>
  <section class="photo2" data-stellar-background-ratio="0.3"></section>
</section>