.contact {
  margin-top: -4%;
  height: 90%;
  background: rgba(25, 25, 25, .5);
  width: 100%;
}

.resume {
  width: 50%;
  margin: 0 auto;
}

.resume_button {
  margin-left: 25%;
  -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
  -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
  background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:linear-gradient(to bottom, #CDCDF9 5%, white 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color:#7892c2;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color: black;
  font-family: "Cinzel";
  font-size:19px;
  padding:12px 37px;
  text-decoration:none;
}

.resume_button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
  background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color:#476e9e;
}

.resume_button:active {
  position:relative;
  top:1px;
}

.social_contact {
    padding-top: 2%;
    padding-bottom: 3%;
    margin-top: -2%;
    margin-left: 18%;
    display: inline-flex;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    font-family: 'Cinzel';
}

.contact_title {
  margin-bottom: 4%;
  font-family: Cinzel;
  padding-top: 5%;
  padding-left: 36%;
  font-size: -webkit-xxx-large;
}

#github_logo {
  margin-right: 2em;
  width: 5em;
  height: 5em;
  background-image: url("github_blk.png");
  background-size: cover;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
}

#github_logo:hover {
  width: 8em;
  height: 8em;
  -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
        transform: rotate(360deg);
  background-image: url("github_clr.png");
}

#twitter_logo {
  margin-right: 2em;
  width: 5em;
  height: 5em;
  background-image: url("twitter_blk.png");
  background-size: cover;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
}

#twitter_logo:hover {
  width: 8em;
  height: 8em;
  -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
        transform: rotate(360deg);
  background-image: url("twitter_clr.png");
}

#gmail_logo {
  margin-right: 2em;
  width: 5em;
  height: 5em;
  background-image: url("gmail_blk.png");
  background-size: cover;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
}

#gmail_logo:hover {
  width: 8em;
  height: 8em;
  -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
        transform: rotate(360deg);
  background-image: url("gmail_clr.png");
}

#linkedin_logo {
  margin-right: 2em;
  width: 5em;
  height: 5em;
  background-image: url("linkedin_blk.png");
  background-size: cover;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
}

#linkedin_logo:hover {
  width: 8em;
  height: 8em;
  -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
        transform: rotate(360deg);
  background-image: url("linkedin_clr.png");
}

#insta_logo {
  margin-right: 2em;
  width: 5em;
  height: 5em;
  background-image: url("insta_blk.png");
  background-size: cover;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
}

#insta_logo:hover {
  width: 8em;
  height: 8em;
  -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
        transform: rotate(360deg);
  background-image: url("insta_clr.png");
}