.photo {
  background: black;
  margin-left: -1em;
  margin-right: -0.5em;
  height: 26em;
  background-image: url("tahrim2.jpg");
  background-attachment: fixed;
  padding: 8em 15em;
  background-size: cover;
  background-repeat: no-repeat; 
}

.photo1 {
  background: black;
  margin-left: -1em;
  margin-right: -0.5em;
  height: 26em;
  background-image: url("tahrim_ball.jpg");
  background-attachment: fixed;
  padding: 8em 15em;
  background-size: cover;
  background-repeat: no-repeat; 
}

.photo2 {
  background: black;
  margin-left: -1em;
  margin-right: -0.5em;
  height: 26em;
  background-image: url("tahrim_nature1.jpg");
  background-attachment: fixed;
  padding: 8em 15em;
  background-size: cover;
  background-repeat: no-repeat; 
}

.juke {
  padding: 4em;
  height: 20em;
  background: rgba(25, 25, 25, .5);
  width: 20em;
  margin-left: -11em;
  margin-top: -9em;
}

.juke_image {
  opacity: 0.4;
  height: 9em;
  margin-left: 1em;
  margin-top: 3em;
}

.juke_image:hover {
  opacity: 1;
}

.nycycle {
  padding: 4em;
  height: 20em;
  background: rgba(25, 25, 25, .5);
  width: 20em;
  margin-left: 39em;
  margin-top: -28em;
}

.nycycle_image {
  opacity: 0.4;
  height: 9em;
  margin-left: 1em;
  margin-top: 3em;
}

.nycycle_image:hover {
  opacity: 1;
}