.photo {
  background: black;
  margin-left: -1em;
  margin-right: -0.5em;
  height: 26em;
  background-image: url("tahrim2.jpg");
  background-attachment: fixed;
  padding: 8em 15em;
  background-size: cover;
  background-repeat: no-repeat; 
}

.photo1 {
  background: black;
  margin-left: -1em;
  margin-right: -0.5em;
  height: 26em;
  background-image: url("tahrim_ball.jpg");
  background-attachment: fixed;
  padding: 8em 15em;
  background-size: cover;
  background-repeat: no-repeat; 
}

.photo2 {
  background: black;
  margin-left: -1em;
  margin-right: -0.5em;
  height: 26em;
  background-image: url("tahrim_nature1.jpg");
  background-attachment: fixed;
  padding: 8em 15em;
  background-size: cover;
  background-repeat: no-repeat; 
}

.juke {
  font-size: 0.9em;
  color: white;
  font-family: "Cinzel";
  padding: 4em;
  height: 25em;
  background: rgba(25, 25, 25, .5);
  width: 15em;
  margin-left: -18%;
  margin-top: -15%;
}

.juke_image {
  opacity: 0.4;
  height: 9em;
  margin-left: -2em;
  margin-top: -2em;
  -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
        transition: all 1s ease;
}

.juke_image:hover {
  opacity: 1;
  height: 11.29em;
  margin-left: -4em;
  margin-top: -4em;
}

.nycycle {
  font-size: 0.9em;
  color: white;
  font-family: "Cinzel";
  padding: 4em;
  height: 25em;
  background: rgba(25, 25, 25, .5);
  width: 15em;
  margin-left: 82%;
  margin-top: -53.5%;
}

.nycycle_image {
  position: relative;
  opacity: 0.4;
  height: 9em;
  margin-left: -2em;
  margin-top: -2em;
  -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
        transition: all 1s ease;
}

.nycycle_image:hover {
  opacity: 1;
  height: 11.15em;
  margin-left: -4em;
  margin-top: -4em;
}