<ul class="navbar">
  <li id="left_nav"><a href="#">Tahrim Uddin</a></li>
  <li id="right_nav"><a href="#">Contact</a></li>
  <li id="right_nav"><a href="#">Projects</a></li>
  <li id="right_nav"><a href="#">About Me</a></li>
</ul>
